<div class="buttons group card alternative no-border mat-elevation-z2" fxLayout="column" fxLayoutGap="24px">
  <div class="group-title">Material Buttons</div>
  <div class="divider reverse"></div>
  <div class="section" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" fxLayoutGap="16px" fxLayoutGap.gt-md="24px">
    <div fxFlex.gt-md>
      <div fxLayout="column">
        <div class="section-title">Flat Buttons</div>
        <div class="section-tag">&lt;md-button&gt;</div>
        <p>Flat buttons are printed on material. They do not lift, but fill with color on press.</p>
        <div class="section-info">Example:</div>
        <code vrHighlight class="html">&lt;button md-button&gt;<br/>  Button<br/>&lt;/button&gt;</code>
      </div>
    </div>
    <md-tab-group class="preview-tabs mat-elevation-z2" fxFlex="auto" fxFlex.gt-md="70%">
      <md-tab label="PREVIEW">
        <div class="preview" fxLayout="row" fxLayoutAlign="center center">
          <md-card fxFlex="90%" fxFlex.gt-sm="80%">
            <md-card-content fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center"
                             fxLayoutWrap="wrap">
              <button md-button>Button</button>
              <button md-button color="primary">Primary</button>
              <button md-button color="accent">Accent</button>
              <button md-button color="warn">Warn</button>
              <button md-button disabled>Disabled</button>
            </md-card-content>
          </md-card>
        </div>
      </md-tab>
      <md-tab label="HTML">
        <code [innerHTML]="flatButtonsHTML" vrHighlight class="html"></code>
      </md-tab>
    </md-tab-group>
  </div>

  <div class="divider reverse"></div>

  <div class="section" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" fxLayoutGap="16px" fxLayoutGap.gt-md="24px">
    <div fxFlex.gt-md>
      <div class="section-title">Raised Buttons</div>
      <div class="section-tag">&lt;md-raised-button&gt;</div>
      <p>Raised buttons add dimension to mostly flat layouts. They emphasize functions on busy or wide spaces.</p>
      <div class="section-info">Example:</div>
      <code vrHighlight class="html">&lt;button md-raised-button&gt;<br/> Button<br/>&lt;/button&gt;</code>
    </div>
    <md-tab-group class="preview-tabs mat-elevation-z2" fxFlex="auto" fxFlex.gt-md="70%">
      <md-tab label="PREVIEW">
        <div class="preview" fxLayout="row" fxLayoutAlign="center center">
          <md-card fxFlex="90%" fxFlex.gt-sm="80%">
            <md-card-content fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center"
                             fxLayoutWrap="wrap">
              <button md-raised-button>Button</button>
              <button md-raised-button color="primary">Primary</button>
              <button md-raised-button color="accent">Accent</button>
              <button md-raised-button color="warn">Warn</button>
              <button md-raised-button disabled>Disabled</button>
            </md-card-content>
          </md-card>
        </div>
      </md-tab>
      <md-tab label="HTML">
        <code [innerHTML]="raisedButtonsHTML" vrHighlight class="html"></code>
      </md-tab>
    </md-tab-group>
  </div>

  <div class="divider reverse"></div>

  <div class="section" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" fxLayoutGap="16px" fxLayoutGap.gt-md="24px">
    <div fxFlex.gt-md>
      <div class="section-title">Floating Action Buttons (FAB)</div>
      <div class="section-tag">&lt;md-fab&gt;</div>
      <p>Floating action buttons are used for a promoted action. They are distinguished by a circled icon floating
        above the UI and have motion behaviors that include morphing, launching, and a transferring anchor
        point.</p>
      <div class="section-info">md-fab Example:</div>
      <code vrHighlight class="html">&lt;button md-fab&gt;<br/> &lt;md-icon&gt;grade&lt;/md-icon&gt;<br/>&lt;/button&gt;</code>
      <div class="section-info">md-mini-fab Example:</div>
      <code vrHighlight class="html">&lt;button md-mini-fab&gt;<br/> &lt;md-icon&gt;person&lt;/md-icon&gt;<br/>&lt;/button&gt;</code>
    </div>
    <md-tab-group class="preview-tabs mat-elevation-z2" fxFlex="auto" fxFlex.gt-md="70%">
      <md-tab label="PREVIEW">
        <div class="preview" fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex="90%" fxFlex.gt-sm="80%" fxLayout="column">
            <md-card>
              <md-card-content fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center"
                               fxLayoutWrap="wrap">
                <button md-fab color="primary">
                  <md-icon>grade</md-icon>
                </button>
                <button md-fab color="accent">
                  <md-icon>favorite</md-icon>
                </button>
                <button md-fab color="warn">
                  <md-icon>build</md-icon>
                </button>
                <button md-fab disabled>
                  <md-icon>lock</md-icon>
                </button>
              </md-card-content>
            </md-card>
            <md-card>
              <md-card-content fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center"
                               fxLayoutWrap="wrap">
                <button md-mini-fab color="primary">
                  <md-icon>favorite</md-icon>
                </button>
                <button md-mini-fab color="accent">
                  <md-icon>thumb_up</md-icon>
                </button>
                <button md-mini-fab color="warn">
                  <md-icon>build</md-icon>
                </button>
                <button md-mini-fab disabled>
                  <md-icon>lock</md-icon>
                </button>
              </md-card-content>
            </md-card>
          </div>
        </div>
      </md-tab>
      <md-tab label="HTML">
        <code [innerHTML]="fabHTML" vrHighlight class="html"></code>
      </md-tab>
    </md-tab-group>
  </div>

  <div class="divider reverse"></div>

  <div class="section" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" fxLayoutGap="16px" fxLayoutGap.gt-md="24px">
    <div fxFlex.gt-md>
      <div class="section-title">Button Toggle</div>
      <div class="section-tag">&lt;md-button-toggle&gt;</div>
      <p>Toggle buttons may be used to group related options. Arrange layout and spacing to convey that certain
        toggle buttons are part of a group.</p>
      <div class="section-info">Example:</div>
      <code vrHighlight class="html">&lt;md-button-toggle&gt;<br/> &lt;md-icon&gt;grade&lt;/md-icon&gt;<br/>&lt;/md-button-toggle&gt;</code>
    </div>
    <md-tab-group class="preview-tabs mat-elevation-z2" fxFlex="auto" fxFlex.gt-md="70%">
      <md-tab label="PREVIEW">
        <div class="preview" fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex="90%" fxFlex.gt-sm="80%">
            <md-card>
              <md-card-content fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center"
                               fxLayoutWrap="wrap">
                <md-button-toggle-group [name]="'alignment'">
                  <md-button-toggle value="left">
                    <md-icon>format_align_left</md-icon>
                  </md-button-toggle>
                  <md-button-toggle value="center">
                    <md-icon>format_align_center</md-icon>
                  </md-button-toggle>
                  <md-button-toggle value="right">
                    <md-icon>format_align_right</md-icon>
                  </md-button-toggle>
                  <md-button-toggle value="justify">
                    <md-icon>format_align_justify</md-icon>
                  </md-button-toggle>
                </md-button-toggle-group>
                <md-button-toggle-group multiple>
                  <md-button-toggle>Flour</md-button-toggle>
                  <md-button-toggle>Eggs</md-button-toggle>
                  <md-button-toggle>Sugar</md-button-toggle>
                  <md-button-toggle>Milk</md-button-toggle>
                </md-button-toggle-group>
              </md-card-content>
            </md-card>
          </div>
        </div>
      </md-tab>
      <md-tab label="HTML">
        <code [innerHTML]="buttonToggleHTML" vrHighlight class="html"></code>
      </md-tab>
    </md-tab-group>
  </div>

  <div class="divider reverse"></div>

  <div class="section" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" fxLayoutAlign.gt-md="start start" fxLayoutGap="16px" fxLayoutGap.gt-md="24px">
    <div fxFlex.gt-md>
      <div class="section-title">Icon Buttons</div>
      <div class="section-tag">&lt;md-icon-button&gt;</div>
      <p>A circular material button that only contains an icon and displays an ink reaction on press.</p>
      <div class="section-info">Example:</div>
      <code vrHighlight class="html">&lt;button md-icon-button&gt;<br/>  &lt;md-icon&gt;grade&lt;/md-icon&gt;<br/>&lt;/button&gt;</code>
    </div>
    <md-tab-group class="preview-tabs mat-elevation-z2" fxFlex="auto" fxFlex.gt-md="70%">
      <md-tab label="PREVIEW">
        <div class="preview" fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex="90%" fxFlex.gt-sm="80%">
            <md-card>
              <md-card-content fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center"
                               fxLayoutWrap="wrap">
                <button md-icon-button>
                  <md-icon>menu</md-icon>
                </button>
                <button md-icon-button color="primary">
                  <md-icon>grade</md-icon>
                </button>
                <button md-icon-button color="accent">
                  <md-icon>favorite</md-icon>
                </button>
                <button md-icon-button color="warn">
                  <md-icon>build</md-icon>
                </button>
                <button md-icon-button>
                  <md-icon>lock</md-icon>
                </button>
              </md-card-content>
            </md-card>
          </div>
        </div>
      </md-tab>
      <md-tab label="HTML">
        <code [innerHTML]="iconButtonHTML" vrHighlight class="html"></code>
      </md-tab>
    </md-tab-group>
  </div>
</div>
