<div class="page components">

  <vr-page-header [height]="'176px'" background="url(/assets/img/demo/headers/pattern-3.png)" [reverse]="true"></vr-page-header>

  <div class="container">

    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px">
      <div class="sticky-menu" fxFlex #sticky fxHide fxShow.gt-sm>
        <md-list class="list">
          <h3 md-subheader>Components</h3>
          <md-list-item class="list-item" (click)="scrollTo(autocomplete)" md-ripple>
            <h4 md-line>Autocomplete</h4>
          </md-list-item>
          <md-list-item class="list-item" (click)="scrollTo(button)" md-ripple>
            <h4 md-line>Button</h4>
          </md-list-item>
          <md-list-item class="list-item" (click)="scrollTo(card)" md-ripple>
            <h4 md-line>Card</h4>
          </md-list-item>
          <md-list-item class="list-item" (click)="scrollTo(dialog)" md-ripple>
            <h4 md-line>Dialog</h4>
          </md-list-item>
          <md-list-item class="list-item" (click)="scrollTo(gridlist)" md-ripple>
            <h4 md-line>Grid List</h4>
          </md-list-item>
          <md-list-item class="list-item" (click)="scrollTo(list)" md-ripple>
            <h4 md-line>List</h4>
          </md-list-item>
          <md-list-item class="list-item" (click)="scrollTo(menu)" md-ripple>
            <h4 md-line>Menu</h4>
          </md-list-item>
          <md-list-item class="list-item" (click)="scrollTo(progress)" md-ripple>
            <h4 md-line>Progress</h4>
          </md-list-item>
          <md-list-item class="list-item" (click)="scrollTo(slider)" md-ripple>
            <h4 md-line>Slider</h4>
          </md-list-item>
          <md-list-item class="list-item" (click)="scrollTo(snackbar)" md-ripple>
            <h4 md-line>Snack Bar</h4>
          </md-list-item>
          <md-list-item class="list-item" (click)="scrollTo(tooltip)" md-ripple>
            <h4 md-line>Tooltip</h4>
          </md-list-item>
        </md-list>
      </div>

      <div fxLayout="column" fxFlex="100%" fxFlex.gt-sm="85%">
        <vr-breadcrumbs [currentPage]="'Components'" [header]="'primary'"></vr-breadcrumbs>

        <div fxLayout="column" fxLayoutGap="24px">
          <div #autocomplete><vr-components-autocomplete></vr-components-autocomplete></div>
          <div #button><vr-components-button></vr-components-button></div>
          <div #card><vr-components-card></vr-components-card></div>
          <div #dialog><vr-components-dialog></vr-components-dialog></div>
          <div #gridlist><vr-components-gridlist></vr-components-gridlist></div>
          <div #list><vr-components-list></vr-components-list></div>
          <div #menu><vr-components-menu></vr-components-menu></div>
          <div #progress><vr-components-progress></vr-components-progress></div>
          <div #slider><vr-components-slider></vr-components-slider></div>
          <div #snackbar><vr-components-snackbar></vr-components-snackbar></div>
          <div #tooltip><vr-components-tooltip></vr-components-tooltip></div>
        </div>
      </div>
    </div>
  </div>
</div>
