<div class="settings">
  <div id="settings-layouts" fxLayout="column" fxLayoutAlign="start start">
    <div class="title no-margin-top">Layouts: </div>

    <md-radio-group class="layout-radio-group" (change)="setLayout($event)" fxLayout="column" fxLayoutGap="24px">
      <md-radio-button value="alpha">
        <img class="layout-option-image" src="assets/img/demo/settings/layout_alpha.png">
      </md-radio-button>
      <md-radio-button value="beta">
        <img class="layout-option-image" src="assets/img/demo/settings/layout_beta.png">
      </md-radio-button>
      <md-radio-button value="gamma">
        <img class="layout-option-image" src="assets/img/demo/settings/layout_gamma.png">
      </md-radio-button>
    </md-radio-group>
  </div>

  <div class="title">Card Elevation: </div>

  <md-select [(ngModel)]="cardElevation" (change)="setCardElevation($event)">
    <md-option value="card-elevation-z0">Flat</md-option>
    <md-option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]" [value]="'card-elevation-z' + i">Elevation z{{i}}</md-option>
  </md-select>

</div>
